<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Steves Art</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>
	<script>

	function getborder(){
		var iti = "<%= lepw %>";
		var b = document.getElementById('password');
		var it = b.value;
		
		if (it != iti){
			
			b.style.border = "solid red 10px";
		}else if(it === iti){
			b.style.border = "solid green 10px";
		}
		
		if(it === ""){
			b.style.border = "none";
		}
	}setInterval(getborder, 250);
	
	function scrollFunction() {
		let mybutton = document.getElementById("myBtn");
	
	  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		mybutton.style.display = "block";
	  } else {
		mybutton.style.display = "none";
	  }
	}

	window.onscroll = function() {scrollFunction()};

	function topFunction() {
	  document.body.scrollTop = 0;
	  document.documentElement.scrollTop = 0;
	}
	
	</script>
</head>

<body>

<%- include("../helpers/top") %>

<button onclick="topFunction()" id="myBtn" title="Go to top">Go Top</button>

<br>
<h1>Welcome <%= result._artist %></h1><h3> Here you can edit gallery entries, and add new ones.</h3>
<br>
<div class="block100">
<div class="row-display" id="sideways">
<div class="block20" id="mobilegrote-admin">
	<a href="#galleryupload"><button class="button-base-admin" id="hover"><span style="color:white"> Gallery Upload </span></button></a>
</div>
<div class="block20" id="mobilegrote-admin">
	<a href="/"><button class="button-base-admin" id="hover"><span style="color:white"> Go to Home </span></button></a>
</div>
<div class="block20" id="mobilegrote-admin">
	<a href="#slideshowupload"><button class="button-base-admin" id="hover"><span style="color:white"> Slideshow Upload </span></button></a>
</div>
<div class="block20" id="mobilegrote-admin">
	<a href="/contact"><button class="button-base-admin" id="hover"><span style="color:white"> Go to Contact </span></button></a>
</div>
</div>
</div>
<br><br><br><br><br>
	<% if (success) { %>
		<% if (success != "") { %>
			<div class="flash success"><h4><span style="color:lightgreen;"><%= success %></span></h4></div>
		<% } else if (success === "") { %>
			<div class="flash error"><%= "" %></div>
		<% } %>
	<% } %>
<h1>
Gallery bellow
</h1>
<div class="main-block" style="margin-top:3%;">
	<div class="block70">
		<div class="col-display">
			<input type="text" class="input-base" placeholder="Looking for something specific?" id="searchbox"/>
			<button class="button-cia" id="hover" style="margin-bottom:5%;" onclick="liveSearch()"><h2>Search</h2></button>
		</div>
	</div>
</div>
<br>
<% if (result) { %>
<div class="main-block">
<div class="col-display" style="width:100%">
<% for (let i = result._gallery.length-1; i>-1; i--){ %>
	<div class="rounded-border-gallery" id="artwork" style="width:90%;">
		<div class="col-display">
		<div class="block100">
			<form action="/deleteentry/<%= result._gallery[i]._artworkid %>/<%= i %>" method="POST">
				<button type="submit" class="button-base" id="hover">
					<span style="color:white;">Delete Entry</span>
				</button>
			</form>
		</div>
			<div class="row-display">
				<div class="block25"></div>
				<div class="block50"><h2><%= result._gallery[i]._title %></h2></div>
				<div class="block25"></div>
			</div>
			<div class="row-display">
				<div class="block50"><h3><%= result._gallery[i]._client %></h3></div>
				<div class="block50"><h3><%= result._gallery[i]._datecreated %></h3></div>
			</div>
			<div class="block100">
			<img src="data:<%= result._gallery[i]._mimetype %>;base64,<%= result._gallery[i]._b64 %>" id="imageholder" alt="SteveCreativeInkandArtOostende" class="galleryartwork"></img>
			</div>
			<div class="row-display">
			<div class="block5"></div>
				<div class="block90">
				<div class="wrap">
				<h3><%= result._gallery[i]._description %></h3>
				</div>
				</div>
			<div class="block5"></div>
			</div>
		
		
		<form action="/modifygallery/<%= result._gallery[i]._artworkid %>/<%= i %>" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block100">
					<div class="block10"></div>
					<div class="block80">
						<h2 class="title-aligned-center">The Text</h2>
					</div>
					<div class="block10"></div>
				</div>
				<div class="block100">
					<h2>Title</h2>
					<input type="text" class="input-base" name="arttitle" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Description</h2>
					<input type="text" class="input-base" name="artdescription" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Client</h2>
					<input type="text" class="input-base" name="artclient" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Date</h2>
					<input type="text" class="input-base" name="artdate" placeholder="dd-mm-yyyy" style="width:60%;">
				</div>
				<div class="block100" id="input-file">
					<input type="file" name="artwork" accept="image/jpg, jpeg, png, gif"></input><br>
				</div>
				<div class="block100">
					<h2>If new image fill in box</h2>
					<input type="text" class="input-base-ciaadmin" name="artworklog"></input><br>
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base" id="hover" style="min-height:4vh; color:white;">
						<span>Modify Entry</span>
					</button>
				</div>
			</div>
		</form>
		</div>
		</div>
	<br>
<% } %>
</div>
</div>
<% } %>
<br><br>
<h1>Gallery Upload
</h1>
<div class="main-block" id="galleryupload">
	<div class="rounded-border">
		<form action="/uploadartwork/" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block100">
					<div class="block10"></div>
					<div class="block80">
						<h2 class="title-aligned-center">The Art</h2>
							<% if (success) { %>
								<% if (success != "") { %>
									<div class="flash success"><h4><span style="color:lightgreen;"><%= success %></span></h4></div>
								<% } else if (success === "") { %>
									<div class="flash error"><%= "" %></div>
								<% } %>
							<% } %>
							
							<% if (wrongpw) { %>
								<% if (wrongpw != "") { %>
									<div class="flash success"><h4><span style="color:red;"><%= wrongpw %></span></h4></div>
								<% } else if (wrongpw === "") { %>
									<div class="flash error"><%= "" %></div>
								<% } %>
							<% } %>
					</div>
					<div class="block10"></div>
				</div>
				<div class="block100">
					<h2>Title</h2>
					<input type="text" class="input-base" name="arttitle" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Description</h2>
					<input type="text" class="input-base" name="artdescription" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Client</h2>
					<input type="text" class="input-base" name="artclient" style="width:60%;">
				</div>
				<div class="block100" id="input-file">
					<input type="file" name="artwork" accept="image/jpg, jpeg, png, gif" required></input><br>
				</div>
				
				<div class="block100">
					<h2>Password</h2>
					<input type="password" class="input-base" onchange="getborder()" id="password" name="password" style="width:60%;">
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base-admin" id="hover" style="min-height:4vh; color:white;">
						<span>Submit Artwork</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br><br>
<h1>Slideshow Upload
</h1>
<div class="main-block" id="slideshowupload">
	<div class="rounded-border">
		<form action="/slideshowupload/" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block100">
					<div class="block10"></div>
					<div class="block80">
						<h2 class="title-aligned-center">Into the Slideshow</h2>
					</div>
				</div>
				<div class="block100" id="input-file">
					<input type="file" name="slideartwork" accept="image/jpg, jpeg, png, gif" required></input><br>
				</div>
				<div class="block100">
				<h5 style="margin:0;margin-top:2%;">If web resize is needed</h5>
				<select name="classpic" id="classpic">
				<option value="default"><span>Default</span></option>
				<option value="web-slideshow10"><span>10%</span></option>
				<option value="web-slideshow20"><span>20%</span></option>
				<option value="web-slideshow30"><span>30%</span></option>
				<option value="web-slideshow40"><span>40%</span></option>
				<option value="web-slideshow50"><span>50%</span></option>
				<option value="web-slideshow60"><span>60%</span></option>
				<option value="web-slideshow70"><span>70%</span></option>
				<option value="web-slideshow80"><span>80%</span></option>
				<option value="web-slideshow90"><span>90%</span></option>
				<option value="web-slideshow100"><span>100%</span></option>
				</select>
				</div>
				<div class="block100">
				<h5 style="margin:0;margin-top:2%;">If mobile resize is needed</h5>
				<select name="idpic" id="idpic">
				<option value="default"><span>Default</span></option>
				<option value="mobile-slideshow10"><span>10%</span></option>
				<option value="mobile-slideshow20"><span>20%</span></option>
				<option value="mobile-slideshow30"><span>30%</span></option>
				<option value="mobile-slideshow40"><span>40%</span></option>
				<option value="mobile-slideshow50"><span>50%</span></option>
				<option value="mobile-slideshow60"><span>60%</span></option>
				<option value="mobile-slideshow70"><span>70%</span></option>
				<option value="mobile-slideshow80"><span>80%</span></option>
				<option value="mobile-slideshow90"><span>90%</span></option>
				<option value="mobile-slideshow100"><span>100%</span></option>
				</select>
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base-admin" id="hover" style="min-height:4vh; color:white;">
						<span>Submit To Slide</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br>
<h1>Slideshow Remove
</h1>
<div class="main-block" id="slideshowupload">
<div class="col-display" style="width:100%;">
<div class="block100">
	<h2 class="title-aligned-center" style="margin:0; margin-bottom:2%;">All Slides</h2>
</div>
<div class="row-display" style="max-width:100vw;overflow-x:scroll; border-bottom:solid white 2px;">

<% if(result){ %>
<% let slideshow = result._slideshow; %>
<% for (let i = 0; i<slideshow.length; i++){ %>
	<div class="rounded-border" style="height:fit-content;min-width:40vw; margin-left:2%; margin-right:2%; margin-bottom:2%;">
		<form action="/slideshowremove/<%= slideshow[i]._artworkid %>" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block90">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" id="small-img-admin" alt="SteveCreativeInkandArtOostende"></img>
				</div>
				
				<div class="block100" style="text-align:center">
					<h6 style="margin:1%;">Web:</h6>
					<span><%= slideshow[i]._c %></span>
				</div>
				<div class="block100" style="text-align:center">
					<h6 style="margin:1%;">Mobile:</h6>
					<span><%= slideshow[i]._id %></span>
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base-admin" id="hover" style="min-height:4vh; color:white;">
						<span>Remove Slide</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<% } %>
<% } %>
</div>
</div>
</div>
<br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
