<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Steves Art</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>

</head>

<body>

<%- include("../helpers/top") %>


<br>
<h1>Welcome <%= result._artist %></h1><h3> Here you can edit gallery entries, and add new ones.</h3>

<br><br><br><br><br>
	<% if (success) { %>
		<% if (success != "") { %>
			<div class="flash success"><h4><span style="color:lightgreen;"><%= success %></span></h4></div>
		<% } else if (success === "") { %>
			<div class="flash error"><%= "" %></div>
		<% } %>
	<% } %>
<h1>
Gallery bellow
</h1>
<div class="main-block" style="margin-top:3%;">
	<div class="block70">
		<div class="col-display">
			<input type="text" class="input-base" placeholder="Looking for something specific?" id="searchbox"/>
			<button class="button-cia" id="hover" style="margin-bottom:5%;" onclick="liveSearch()"><h2>Search</h2></button>
		</div>
	</div>
</div>
<br>
<% if (result) { %>
<div class="main-block">
<div class="col-display" style="width:100%">
<% for (let i = result._gallery.length-1; i>-1; i--){ %>
	<div class="rounded-border-gallery" id="artwork" style="width:90%;">
		<div class="col-display">
		<div class="block100">
			<form action="/deleteentry/<%= result._gallery[i]._artworkid %>/<%= i %>" method="POST">
				<button type="submit" class="button-base" id="hover">
					<span style="color:white;">Delete Entry</span>
				</button>
			</form>
		</div>
			<div class="row-display">
				<div class="block25"></div>
				<div class="block50"><h2><%= result._gallery[i]._title %></h2></div>
				<div class="block25"></div>
			</div>
			<div class="row-display">
				<div class="block50"><h3><%= result._gallery[i]._client %></h3></div>
				<div class="block50"><h3><%= result._gallery[i]._datecreated %></h3></div>
			</div>
			<div class="block100">
			<img src="data:<%= result._gallery[i]._mimetype %>;base64,<%= result._gallery[i]._b64 %>" id="imageholder" alt="SteveCreativeInkandArtOostende" class="galleryartwork"></img>
			</div>
			<div class="row-display">
			<div class="block5"></div>
				<div class="block90">
				<div class="wrap">
				<h3><%= result._gallery[i]._description %></h3>
				</div>
				</div>
			<div class="block5"></div>
			</div>
		
		
		<form action="/modifygallery/<%= result._gallery[i]._artworkid %>/<%= i %>" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block100">
					<div class="block10"></div>
					<div class="block80">
						<h2 class="title-aligned-center">The Text</h2>
					</div>
					<div class="block10"></div>
				</div>
				<div class="block100">
					<h2>Title</h2>
					<input type="text" class="input-base" name="arttitle" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Description</h2>
					<input type="text" class="input-base" name="artdescription" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Client</h2>
					<input type="text" class="input-base" name="artclient" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Date</h2>
					<input type="text" class="input-base" name="artdate" placeholder="dd-mm-yyyy" style="width:60%;">
				</div>
				<div class="block100" id="input-file">
					<input type="file" name="artwork" accept="image/jpg, jpeg, png, gif"></input><br>
				</div>
				<div class="block100">
					<h2>If new image fill in box</h2>
					<input type="text" class="input-base-ciaadmin" name="artworklog"></input><br>
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base" id="hover" style="min-height:4vh; color:white;">
						<span>Modify Entry</span>
					</button>
				</div>
			</div>
		</form>
		</div>
		</div>
	<br>
<% } %>
</div>
</div>
<% } %>
<br><br>
<h1>Gallery Upload
</h1>
<div class="main-block">
	<div class="rounded-border">
		<form action="/uploadartwork/" method="POST" enctype="multipart/form-data">
			<div class="col-display">
				<div class="block100">
					<div class="block10"></div>
					<div class="block80">
						<h2 class="title-aligned-center">The Art</h2>
							<% if (success) { %>
								<% if (success != "") { %>
									<div class="flash success"><h4><span style="color:lightgreen;"><%= success %></span></h4></div>
								<% } else if (success === "") { %>
									<div class="flash error"><%= "" %></div>
								<% } %>
							<% } %>
							
							<% if (wrongpw) { %>
								<% if (wrongpw != "") { %>
									<div class="flash success"><h4><span style="color:red;"><%= wrongpw %></span></h4></div>
								<% } else if (wrongpw === "") { %>
									<div class="flash error"><%= "" %></div>
								<% } %>
							<% } %>
					</div>
					<div class="block10"></div>
				</div>
				<div class="block100">
					<h2>Title</h2>
					<input type="text" class="input-base" name="arttitle" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Description</h2>
					<input type="text" class="input-base" name="artdescription" style="width:60%;">
				</div>
				<div class="block100">
					<h2>Client</h2>
					<input type="text" class="input-base" name="artclient" style="width:60%;">
				</div>
				<div class="block100" id="input-file">
					<input type="file" name="artwork" accept="image/jpg, jpeg, png, gif" required></input><br>
				</div>
				
				<div class="block100">
					<h2>Password</h2>
					<input type="password" class="input-base" name="password" style="width:60%;">
				</div>
				<div class="block100" style="margin-top:3%; margin-bottom:3%;">
					<button type="submit" class="button-base" id="hover" style="min-height:4vh; color:white;">
						<span>Submit Artwork</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br><br>

<%- include("../helpers/bottom") %>

</body>
</html> 
