<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Creative Art and Ink</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>
<script>
	
	
	function liveSearch() {
	  // Locate the card elements
	  let cards = document.querySelectorAll('#artwork')
	  // Locate the search input
	  let search_query = document.getElementById("searchbox").value;
	  // Loop through the cards
	  for (var i = 0; i < cards.length; i++) {
		// If the text is within the card...
		if(cards[i].innerText.toLowerCase()
		  // ...and the text matches the search query...
		  .includes(search_query.toLowerCase())) {
			// ...remove the `.is-hidden` class.
			cards[i].classList.remove("is-hidden");
		} else {
		  // Otherwise, add the class.
		  cards[i].classList.add("is-hidden");
		}
	  }
	}
	
	</script>

</head>

<body>

<%- include("../helpers/top") %>

<div class="main-block">
<div class="row-displayz">

</div>
</div>
<br>

<h1>The Gallery</h1>



<div class="main-block" style="margin-top:3%;">
	<div class="block70">
		<div class="col-display">
			<input type="text" class="input-base" style="font-size:75%" placeholder="Looking for something specific?" id="searchbox"/>
			<button class="button-cia" id="hover" style="margin-bottom:5%;" onclick="liveSearch()"><h2>Search</h2></button>
		</div>
	</div>
</div>
<br>
<% if (showcase) { %>
<div class="main-block">
<div style="width:100%; display:flex; flex-wrap:wrap;">
<% for (let i = showcase.length-1; i>-1; i--){ %>
<div class="rounded-border-new" id="artwork">
	<div class="col-display">
		<div class="block100" style="height:fit-content;">
			<div class="col-display" style="height:100%;">
				<div class="block100" style="border-bottom:solid white 2px;">
					<h3 class="text1"><%= showcase[i]._title %></h3>
				</div>
				<div class="block100" style="border-bottom:solid white 2px;">
					<h4 class="text2"><%= showcase[i]._client %></h4>
				</div>
				<div class="block100" style="height:fit-content;">
					<div class="col-display" style="height:fit-content;">
						<div class="block100" style="height:fit-content;">
							<img src="data:<%= showcase[i]._mimetype %>;base64,<%= showcase[i]._b64 %>" style="object-fit: contain;height:auto;" alt="SteveCreativeInkandArtOostende" class="galleryartworknew"></img>
						</div>
						<div class="block100" style="display:flex;align-items:bottom;justify-content:center;padding:2%;">
							<span class="text3"><%= showcase[i]._datecreated %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<br>
<% } %>

</div>
</div>
<% } %>
<br><br>

<%- include("../helpers/bottom") %>

</body>
</html>
