<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Creative Art and Ink</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="js/menu.js"></script>
	<link rel="stylesheet" href="css/splide.min.css">
	<script src="js/splide.min.js"></script>
	<script src="js/splide-extension-auto-scroll.min.js"></script>
	<script>
	document.addEventListener( 'DOMContentLoaded', function () {
	  var main = new Splide( '#main-carousel', {		
		type      : 'loop',
		rewind    : true,
		pagination: false,
		arrows    : false,
	  drag   : 'free',
	  focus  : 'center',
	  perPage: 1.5,
	  autoStart:true,
	  autoScroll: {
		speed: 2.5,
	  },
	  } );

	  var thumbnails = new Splide( '#thumbnail-carousel', {
		fixedWidth  : 150,
		fixedHeight : 150,
		gap         : 5,
		rewind      : true,
		pagination  : false,
		isNavigation: true,
		breakpoints : {
		  600: {
			fixedWidth : 75,
			fixedHeight: 75,
			gap:1,
		  },
		},
	  } );

	  main.sync( thumbnails );
	  main.mount(window.splide.Extensions);
	  thumbnails.mount();
	} );
	</script>
	
</head>

<body>

<%- include("../helpers/top") %>

<h1 class="mobile-title">Creative Art and Ink</h1><h3>Steves Art Shop</h3>

<div class="main-block">
	<div class="rounded-border"><div class="wrap">
	<span>
	Welkom bij Steve’s art shop!!<br><br>
Waar ik Steve , de artiest samen met jou op zoek ga om een uniek stukje kunst te creëren!<br><br>
Of het nu een tattoo is of een tekening of een schilderij hier kan het allemaal!<br><br>
Ik ben trots op het leveren van werk van hoge kwaliteit aan elke klant.<br><br>
Dit vraagt de nodige voorbereiding en tijd maar alleen zo kan ik jou garanderen dat je met
iets unieks de shop uitwandeld.<br><br>
Mijn doel is dat je mijn studio verlaat met een kunstwerk waar je jarenlang plezier van zult
hebben.<br><br>
Bij deze zou ik zeggen neem een kijkje In de galerij of op de sociale media kanalen en heb je
nog vragen kan je me altijd contacteren via de contact pagina of nog sneller via de quick contact knop hieronder zodra mogelijk neem ik dan contact met je op !<br><br>
Thanks en let’s create an artwork!<br>
Steve</span>
	</div>
	</div>
</div>
<br><br>
<section id="main-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list" style="items-align:center;">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" class="<%= slideshow[i]._c %>" id="<%= slideshow[i]._id %>" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>
<br>
<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list" id="splide_list_thumb">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" id="mobile-sized" class="web-sized" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>
<br>
<div class="main-block"><div class="block100">
<a href="/contact#contactform"><button class="button-now" id="hover"><h2>Contact Now</h2></button></a>
</div>
</div>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="95%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<div class="main-block">
<div class="rounded-borderr">
	<div class="col-display" id="sideways">

		<div class="block10"></div>
		<div class="block10"></div>
		<div class="block15" id="mobilegrote">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
				</div>
		</div>
		<br>
		
		<div class="block15" id="mobilegrote">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram3.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
				</div>
		</div>
		<br>
		<div class="block15" id="mobilegrote">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram3.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
				</div>
		</div>
		<div class="block10"></div>
		<div class="block10"></div>

	</div>
</div>
</div>
<br>
<%- include("../helpers/bottom") %>

</body>
</html> 
