<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Steves Art</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="js/menu.js"></script>
	<link rel="stylesheet" href="css/splide.min.css">
	<script src="js/splide.min.js"></script>
	<script src="js/splide-extension-auto-scroll.min.js"></script>
	<script>
	document.addEventListener( 'DOMContentLoaded', function () {
	  var main = new Splide( '#main-carousel', {		
		type      : 'loop',
		rewind    : true,
		pagination: false,
		arrows    : false,
	  drag   : 'free',
	  focus  : 'center',
	  perPage: 1.5,
	  autoStart:true,
	  autoScroll: {
		speed: 2.5,
	  },
	  } );

	  var thumbnails = new Splide( '#thumbnail-carousel', {
		fixedWidth  : 150,
		fixedHeight : 150,
		gap         : 5,
		rewind      : true,
		pagination  : false,
		isNavigation: true,
		breakpoints : {
		  600: {
			fixedWidth : 75,
			fixedHeight: 75,
			gap:1,
		  },
		},
	  } );

	  main.sync( thumbnails );
	  main.mount(window.splide.Extensions);
	  thumbnails.mount();
	} );
	</script>
	
</head>

<body>

<%- include("../helpers/top") %>

<h1>STEVES ART</h1><h3>" YOUR ARTSHOP ! "</h3>

<div class="main-block">
	<div class="rounded-border"><div class="wrap">
	<span>
	Welkom bij steves art shop!!<br><br>
Waar ik STEVE de zaakvoerder mijn artistieke diensten aanbiedt om voor jou een uniek stukje
kunst te creëren!<br><br>
Of het nu een tattoo is of een tekening of een schilderij hier kan het allemaal !
Ik ben trots op het leveren van werk van hoge kwaliteit aan elke klant en ik geloof dat elk
werkje speciaal en uniek moet zijn dus neem ik graag de tijd om naar die ideeën te luisteren
en Samen een uniek ontwerp te creëren.<br><br>
Mijn doel is niet alleen om aan je verwachtingen te voldoen maar als ik kan ze zelfs te
overtreffen zodat je mijn studio verlaat met een kunstwerk waar je jarenlang plezier van zult
hebben.<br><br>
En daar kwaliteit mijn prioriteit is kan het soms misschien wat langer duren dan je verwacht
om tot het eindresultaat te komen maar alleen op deze manier kan ik jou garanderen dat het
werk voldoet aan de eisen die ik voorop stel !<br><br>
Ik laat ook het liefst mijn werk spreken dus bij deze zou ik zeggen neem een kijkje In de
galerij of op de sociale media kanalen en heb je nog vragen kan je me altijd contacteren via
de contact pagina of nog sneller via de Quick contact form op de home pagina
zodra mogelijk neem ik dan contact met je op !<br><br>
Thanks en let’s create an artwork !<br><br>
Steve</span>
	</div>
	</div>
</div><br><br>
<div class="block100" style="display:flex; justify-content:center; margin-bottom:2%;">
<div class="row-display">
<div class="block" id="justified-right" style="align-items:center;"><img src="images/call.png" id="mobile-image" alt="contactimage"></img></div>
<div class="block100"><h2>Hoe te contacteren:</h2></div>
<div class="block" id="justified-left" style="align-items:center;"><img src="images/callreversed.png" id="mobile-image" alt="contactimage"></img></div>
</div>
</div>
<div class="main-block">
	<div class="rounded-border" style="padding:0;">
		<div class="col-display" id="sideways">
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Telephone:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="tel:+320496171611"><span>0496 17 16 11</span></a>
				</div>
			</div>
			</div>
			<br>
			
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Email:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="mailto:artandink.be@gmail.com"><span>artandink.be@gmail.com</span></a>
				</div>
			</div>
			</div>
			<br>
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Contact Form:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
				
					<div class="block80"><a href="#contactform"><button class="button-cia" id="hover" style="margin-bottom:3%;"><h3>Contact</h3></button></a></div>
					
				</div>
			</div>
			</div>
			
		</div>
	</div>
</div>
<br><br>
<section id="main-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list" style="items-align:center;">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" class="<%= slideshow[i]._c %>" id="<%= slideshow[i]._id %>" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>
<br>
<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list" id="splide_list_thumb">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>
<br><br>
<div class="block100" style="display:flex; justify-content:center;">
	<div class="row-display" id="mobile-set">
		<div class="block"><h2 id="title-mobile">Mijn Sociale Media:</h2></div>
	</div>
</div>
<div class="main-block">
<div class="rounded-borderr">
	<div class="col-display" id="sideways">
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
					<div class="block100">
						<a class="mobile-link" href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><h3>Facebook</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/creativeartandinkbe/"><h3>Tattoos</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram2.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/wavewatcher_be/"><h3>Drawings & Paintings</h3></a>
					</div>
				</div>
			</div>		
		</div>		
	</div>
</div>
</div>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="95%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<h1>Contact Shop</h1>
<div class="main-block" id="contactform">
<div class="rounded-border">
<form action="/contactartist" method="POST">
	<div class="col-display">
		<div class="block100"></div>
		<div class="row-display">
			<div class="block50"><h2 class="title-aligned-center">Naam:</h2></div>
			<div class="block50"><h2 class="title-aligned-center">Email:</h2></div>
		</div>
		<div class="row-display">
			<div class="block50"><input type="text" name="clientname" placeholder="Naam" class="input-base-cia"></input></div>
			<div class="block50"><input type="text" name="clientemail" placeholder="Email" class="input-base-cia"></input></div>
		</div>
		<div class="block100">
			<h2 class="title-aligned-center">Stel Uw Vraag:</h2>
		</div>
		<div class="block100">
			<textarea name="clientmessage" class="input-base-cia-95" style="height:30vh;" placeholder="Hallo, mijn naam is Steve! Hoe kan ik u helpen? Voor info stel uw vraag en wees zo compleet mogelijk! Ik antwoord zo snel als ik kan."></textarea>
		</div>
		<div class="block100">
			<button type="submit" class="button-cia-100" id="hover"><h2>Submit</h2></button>
		</div>
	</div>
</form>
</div>
</div>
<br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
