<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>TEST AREA</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>
	<link rel="stylesheet" href="css/splide.min.css">
	<script src="js/splide.min.js"></script>
	<script src="js/splide-extension-auto-scroll.min.js"></script>
	<script>
	document.addEventListener( 'DOMContentLoaded', function () {
	  var main = new Splide( '#main-carousel', {		
		type      : 'loop',
		rewind    : true,
		pagination: false,
		arrows    : false,
	  drag   : 'free',
	  focus  : 'center',
	  perPage: 1.5,
	  autoStart:true,
	  autoScroll: {
		speed: 2.5,
	  },
	  } );

	  var thumbnails = new Splide( '#thumbnail-carousel', {
		fixedWidth  : 150,
		fixedHeight : 150,
		gap         : 5,
		rewind      : true,
		pagination  : false,
		isNavigation: true,
		breakpoints : {
		  600: {
			fixedWidth : 75,
			fixedHeight: 75,
			gap:1,
		  },
		},
	  } );

	  main.sync( thumbnails );
	  main.mount(window.splide.Extensions);
	  thumbnails.mount();
	} );
	</script>
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>

<%- include("../helpers/top") %>

<h1>STEVES ART</h1><br>
<h1>TEST AREA</h1><br>

<section id="main-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list" style="items-align:center;">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" class="<%= slideshow[i]._c %>" id="<%= slideshow[i]._id %>" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>
<br>
<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list" id="splide_list_thumb">
		<% if(slideshow){ %>
			<% for (i = 0; i<slideshow.length; i++){ %>
				<li class="splide__slide">
					<img src="data:<%= slideshow[i]._mimetype %>;base64,<%= slideshow[i]._b64 %>" alt="SteveCreativeInkandArtOostende"></img>
				</li>
			<% } %>
		<% } %>
		</ul>
  </div>
</section>

<br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
